@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AarauCoin</h1>
    <p>Learn about our amazing selection of features like transferring money secuerly by contacting us for an account today!</p>
</div>